@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0ex;
  font-family: "Montserrat", sans-serif;
}

.todo-app {
  margin: auto;
  left: 50%;
  right: 50%;
}
